

body{
  /* background: url("images/bg-bottom.svg")  no-repeat;
  background-position: bottom left; */
  
}

main{
  font-family: 'Montserrat', sans-serif;
  background-color: hsl(240, 78%, 98%);
  
  /* background: url("images/bg-top.svg");
  background-position: top right;  */

  background-image: url("images/bg-bottom.svg"), url("images/bg-top.svg");
  background-position: left bottom, right top;
  background-repeat: no-repeat, no-repeat;
  
}

.heading{
  text-align: center;
  padding: 2.5em;
  color: hsl(233, 13%, 49%)
}

.toggle{
  display: flex;
  flex-direction: row;
  font-size: 10px;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.toggle >* {
  width: 33%;
  color: hsl(234, 14%, 74%);

}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  cursor: pointer;
  
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
  
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(237, 63%, 64%);
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color:  hsl(237, 63%, 64%);
}

input:focus + .slider {
  outline: none;
  /* box-shadow: 0 0 1px #2196F3; */
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.pricing-divs{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  align-items: center;
  border-radius: 2-px;
}

.basic, .master{
  background: white;
  width: 100%;
  text-align: center;
  margin-bottom: 1.5em;
  border-radius: 10px;
  color: hsl(233, 13%, 49%);
}



.basic h1, .master h1{
  font-size: 2.6em;
}

.pro h1{
  font-size: 2.6em;
}

.basic-div, .master-div{
  width: 80%;
  margin: 0 auto;
  padding: 1em;
  border:hsl(234, 14%, 74%) 1px;
  border-style: solid hidden hidden hidden;
}

.pro-div{
  width: 80%;
  margin: 0 auto;
  padding: 1em;
  border: hsl(234, 14%, 74%) 1px;
  border-style: solid hidden hidden hidden;
}
.last-div{
  border-bottom: 1px solid hsl(234, 14%, 74%);
}

button{
  width: 80%;
  font-size: 12px;
  border: none;
  border-radius: 10px;
  padding: .8em;
  margin-bottom: 1.5em;
  margin-top: 1em;
  cursor: pointer;

}
.basic-btn, .master-btn{
  background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: white;
  font-weight: 700;
}

.pro-btn{
  background: white;
  color: hsl(237, 63%, 64%);
  font-weight: 700;
} 

.pro{
  background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  width: 100%;
  text-align: center;
  color: white;
  margin-bottom: 1.5em;
  border-radius: 10px;
}




@media only screen and (min-width: 768px) {

  body{
    max-width: 90%;
    margin: 0 auto;
  }
 
  main{
   
    margin: 0 auto;
  }

  h3{
    font-size: 2em;
  }
  .toggle{
    width: 50%;
    margin: 0 auto;
    /* justify-content: center; */
  }

  .annual{
    margin-right: 20px;
    text-align: right;
    width: 100px;
    font-size: 1.5em;
  }

  .monthly{
    text-align: left;
    margin-left: 20px;
    width: 100px;
    font-size: 1.5em;
    
  }

  .pricing-divs{
    flex-direction: row;
    width: 60%;
  }

  .pro{
    /* padding-bottom: 2.2em; */
  } 

  .pro p{
    margin-top: 2em;
  }
  .pro h1{
    font-size: 4em;
  }


  .basic h1, .master h1{
    font-size: 4em;
  }

  .basic-btn, .master-btn{
    font-size: .8em;
  }
  
  .pro-btn{
    /* margin-top: 3.2em; */
    font-size: .8em;
    margin-bottom: 3em;
  }  

  .attribution{
    padding: 1.5em;
  }

}
